*{padding: 0;margin: 0;;}
body{ background-image: url('earts.jpg');background-repeat: no-repeat ;background-attachment: fixed;background-size: cover;}

/***id****/
.esm{font-size: 60px;transform:skew(-25deg);color: red;background-color: rgba(159,76,95,0,552);width: fit-content;position: absolute;left: 60%;border-radius: 10%;}
.h1{font-size: 60px;transform:skew(-25deg);color: red;background-color: rgba(159,76,95,0,552);width: fit-content;position: absolute;right: 50%;top: 61px;border-radius: 10%}
.h2{font-size: 60px;transform:skew(-25deg);color: red;background-color: rgba(159,76,95,0,552);width: fit-content;position: absolute;left: 55%;top: 130px;border-radius: 10%}
.year{font-size: 60px;transform:skew(-25deg);color: red;background-color: rgba(159,76,95,0,552);width: fit-content;position: absolute;left: 40%;top: 200px;border-radius: 10%}



#klem{position: absolute;width: 200px;height: 50px;top: 60%;left: 50%;transform: translate(-50%,-50%);text-align: center;font-size: 20px;}
.klem1{position: absolute;background-color: pink;width: 200px;height: 50px;top: 60%;left: 50%;transform: translate(-50%,-50%);text-align: center;font-size: 20px;}

/***id***/
.divchoice{width: 50%;height: 150px;background-color: rgb(159, 76, 95);position: absolute;top: 75%;left: 50%;transform: translate(-50%,-50%);border-radius: 20px;}


.btnyes{width: 75px;height: 60px;background-color: red ;border-radius: 20px;position:absolute;top:50%;left: 70%;transform: translate(-50%,-50%)}
 
.tagerba{width: 100px;height: 100px;background-color: red;top: 50%;left: 50%;transform: translate(-50%,-50%)}
.tagerba1{width: 20%;height: 55%;background-color: red;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 30px;}
.tagerba2{width: 40%;height: 60%;background-color: red;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size:35px ;}
.tagerba3{width: 55%;height: 75%;background-color: red;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 50px;}
.tagerba4{width: 70%;height: 80%;background-color: red;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size:60x ;}
.tagerba5{width: 100%;height: 100%;background-color: red;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 100px;}


#btnno{position: absolute;top: 72%;left: 40%;border-radius: 50%;width: 100px;height: 60px;}
.position0{position: absolute;top: 72%;left: 40%;transform: translate(-10px,-150px)}
.position1{position: absolute;transform: translate(-10px,-200px);border-radius: 50%;width: 100px;height: 60px;}
.position2{position: absolute;transform: translate(-500px,-200px);border-radius: 50%;width: 100px;height: 60px;}
.position3{position: absolute;transform: translate(700px,-80px);border-radius: 50%;width: 100px;height: 60px;}
.position4{position: absolute;transform: translate(200px,-120px);border-radius: 50%;width: 100px;height: 60px;}
.position5{position: absolute;transform: translate(1500px,-1500px);border-radius: 50%;width: 100px;height: 60px;}


.lablebi{color: pink;font-size: 1px;}
.lablebi1{position: absolute;top: 40%;left: 50%;transform: translate(-50%,-50%);font-size: 50px;background-color: white;padding: 60px;border-radius: 30px;}
.fin{position: absolute;width: 100px;height: 100px;}

.fin1{position: absolute;width: 100%;height: 100%; background-image: url('hearts.jpg');background-repeat: no-repeat ;background-attachment: fixed;background-size: cover;;}


.gif{position: absolute;transform:translate(2200px,-5000px);}
.gif1{position: absolute;top:65%;left: 50%;transform: translate(-50%,-50%);}






